.baractive {
    width: 2vw;
    height: 0.4vw;
    border: none;
    box-sizing: border-box;
    background-color:  #DB1717;
}
.bar {
    width: 2vw;
    height: 0.4vw;
    border: none;
    box-sizing: border-box;
    background-color: black;
}
.no-txt-dec {
    color: white;
    text-decoration: none;
}


.img-full-div {
    width: 100%
}

.sq-box {
    width: 1rem;
    height: 1rem;
}

.c1 {
    background-color: #000000;
    border: 0.5px solid #000000;
}
.c2 {
    background-color: #793B27;
    border: 0.5px solid #000000;
}
.c3 {
    background-color:  #97460B;
    border: 0.5px solid #000000;
}
.c4 {
    background-color: #712D1E;
    border: 0.5px solid #000000;
}
.c5 {
    background-color:#D17C20;
    border: 0.5px solid #000000;
}
.c6 {
    background-color: #CFCFCF;
    border: 0.5px solid #000000;
}
.c7 {
    background-color: #FFFFFF;
    border: 0.5px solid #000000;
}

.btn-brown {
    background-color: #6E3628 !important;
    color: white !important;
}
.btn-yellow {
    background-color: #D99502 !important;
    color: white !important;
}