.top {
    width: 100vw;
    text-align: center;
    padding: 15vh 0;
    margin-bottom: 3vw;
    background-size: cover;
    background-position: center;
    background-image: url("https://s3-alpha-sig.figma.com/img/bf88/6ce5/964686a54432735ba4a75313b8b54225?Expires=1546819200&Signature=JWjK04ImPCsso~0XPVspn1epLtipT9K2XwVfj0aFUxg5UZAfTkRGsD3BVk351ZmGu~1HkDz5-1AS~Ivvj0p8FMy35aMtQlIc4bNb1JnMHiWV7kcNkTdr~CJENtztF4j6koczzXS96tHtAx8~f5QLBtwT6rSqw-ZSEjyRvWIEwGqfmlPTmrBKzgS4gg8e2bRrN6LIkYLlpd-kKqj7g~GciukJDAokOrWN9XItgz-Yj0ICNjC1skWIbVimVVFJN5MLdFQ6UNGueCKuSu~7y7avYUwyni9hCkah4K7bsZ3F-ADp6MTfOK1eaeNhbnP5cFOwJAviPA1k54GJOvH6bXQxIQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}

.top h1 {
    color: white;
}

ylw {
    color: #FEAE02;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.text-center {
    text-align: center;
}