.pointer {
    cursor: pointer;
}

.hover-nl:hover {
    transition: 0.2s;
    color: #D99502 !important;
}

.bold {
    font-weight: bold;
}

.fixed {
    background-color: transparent;
    /* width: 100%;
    box-shadow: 0 8px 6px -6px rgba(156, 98, 98, 0.562); */
}