#header {
  height: 50vh;
  width: 100vw;
  background-image: url("https://s3-alpha-sig.figma.com/img/a377/010d/8b9768dec960ce9fe537b10f960f4abb?Expires=1546819200&Signature=HwRgDVPUrTY36~JsyqCrdSCTBqAyocuQmq38U3nWdOrLH7K7MaLvTxPPhfKpF7hqiu~g4uv~RJKMJUKIZldTSePLbK6W6XYVMtxoS6cGAvJ7w~Ig00Rik9tpidgTdar8Kwk0w6IoS~61wLSn3NaPg9ty2LL6wP4BLlrRSCL-Q8hEMYAWY0ncX3CJ-8gLcU40xjupR6TTZmuxvGI39GCP6NpLzG5junvEeQKko46SqFB3EC6llShUrzHVvklp88KNu78DpjoaT~fjRpDBalgATvn4JMLYJA-JtzXQsXIq9MLFLS7~AcTdSfnW5-kGjZXho4BwdfW4gVmw00y6zjAVTw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
}

.center {
  text-align: center;
}

.link {
  color: #200c25;
}
.link:hover {
  color: #200c25;
  text-decoration: none;
}

.lost-text {
  padding: 16PX;
  text-align: right;
  align-self: center;
  display: inline-block;
}

.found-text {
  padding: 16PX;
  text-align: left;
  align-self: center;
  display: inline-block;
}

.lost-icon {
  padding: 16PX;
  align-self: center;
  display: inline-block;
}

.found-icon {
  padding: 16PX;
  align-self: center;
  display: inline-block;
}

.right {
    text-align: right;
}

#caseSuccess {
    padding: 1.5vw 25vw;
    background-color: #f1e2a0;
}
#caseSuccess h1 {
    font-size: 4vw;
}


#donation {
  margin: 0;
  height: 10vw;
  text-align: center;
  background-color: #f1e2a0;
}

#footer {
  margin: 0;
  height: 10vw;
  text-align: center;
  color: #fff;
  background-color: #200c25;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}