.title {
    font-size: 3vw;
}
.mt1 {
    margin-top: 1vw;
}
.mt2 {
    margin-top: 3vw;
}
.mr-sq-box {
    margin-right: 0.5vw;
}
.mr2 {
    margin-right: 2vw;
}
.mb2 {
    margin-bottom: 2vw;
}
.mb1 {
    margin-bottom: 1vw;
}
.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.pd0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.line {
    position: absolute;
    width: 256px;
    height: 0px;
    left: 543px;
    top: 381px;
    
    border: 1px solid #000000
}